<div class="container">
    <div id="goat">
            <form action="~/Home/DailySleep">
                <div class="control-label center-block Daily">
                    <input name="SleepHours" type="number" placeholder="Enter Hours Slept" class="form-control" required min="0" max="12" />
                    <input name="SleepQuality" type="number" placeholder="Sleep Quality 1-10" class="form-control" required min="1" max="10" />
                </div>
                <input type="submit" value="Get Recommendations" />
            </form>
    </div>
</div>
 