
<form action="~/Home/DailySleep">
    <input name="SleepHours" type="number" placeholder="Please enter your hours slept last night" class="form-control" required min="0" max="12" />
    <input name="SleepQuality" type="number" placeholder="Please enter sleep quality 1-10" class="form-control" required min="1" max="10" />
    <input name="ZipCode" type="text" placeholder="Please enter your zip code" class="form-control" required pattern="[0-9]{5}" />
    <input type="submit" value="Get Recommendations" />
</form>
 