@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Back2Sleep</h1>
    <p class="lead">Welcome to the Back2Sleep application where we look out for your sleep health by taking in a little user input and offering helpful suggestions to keep you healthy and performing at your best.</p>

    <form action="~/Home/GetLocation"><input name="ZipCode" type="text" placeholder="Please enter your zip code" class="form-control" required pattern="[0-9]{5}" />
    <input name="Hours" type="text" placeholder="Enter number of hours slept" class="form-control" required pattern="[0-9]{1,2}"/>
    <input type="submit"/>
    </form>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>