@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Back2Sleep</h1>
    <p class="lead">Welcome to the Back2Sleep application where we look out for your sleep health by taking in a little user input and offering helpful suggestions to keep you healthy and performing at your best.</p>

    @if (User.Identity.IsAuthenticated)
    {
        <h3>Welcome @User.Identity.Name</h3>
    }
    else
    {
        <form action="~/Account/Register">
            <input type="submit" value="Register" />
        </form>
        <form action="~/Account/Login">
            <input type="submit" value="Login" />
        </form>
    }

    <p>Get your free sleep score today!</p>
    <input type="button" value="Sleep Estimator" onclick="location.href='@Url.Action("DailySleepPatterns", "Home")'" />
</div>

<div class="row">
    <div3 class="col-md-4">
        <h2>Sleep Deprivation</h2>
        <p3>Sleep deprivation is one of the most dangerous effects on the human body and personal health. Yet, it is one of the least talked about when it comes to personal health. Click on the link below to learn more.</p>
        <p><a class="btn btn-default" href="https://www.webmd.com/sleep-disorders/guide/sleep-requirements#1-4">Learn more &raquo;</a></p>
    </div3>
    <div3 class="col-md-4">
        <h2>Benefits of Better Sleep Patterns</h2>
        <p3>Having better sleep patterns can be one of the most benficial aspects of your personal health. The link below offers a list of some of the benefits.</p3>
        <p><a class="btn btn-default" href="https://www.verywellhealth.com/top-health-benefits-of-a-good-nights-sleep-2223766">Learn more &raquo;</a></p>
    </div3>
    <div3 class="col-md-4">
        <h2>Sleep Aids</h2>
        <p3>Having a little help to fall asleep easier is very useful and can be very beneficial to your sleep patterns. Check out the link below for a list and reviews of the top sleep aids in the industry.</p3>
        <p><a class="btn btn-default" href="http://www.cantsleep.org/product-reviews/?msclkid=572865ee0af91f11c3e8396711c09c04&en=bing&utm_source=bing&utm_content=sleep%20aids&utm_term=sleep%20aids--be-e&device=c&ad=77996701801396&utm_campaign=Sleep%20(CantSleep.org)&utm_medium=cpc&network=o&adgroup=Sleep%20Aids&v_id=48011011&envs=MTU1MjQ4OTI3My43dzdPczNnNjJYajJzeUFIL25FRTJZaDBabG89">Learn more &raquo;</a></p>
    </div3>

    <img src="~/Images/logo.png" />
</div>