body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    background-image: url('../Images/clouds2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 8px;
    padding-right: 8px;  
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    background-color: lightskyblue;
    color: navy;
    border-radius: 25px;
    box-shadow: 27px;
    text-align: center;
}

#Daily{
    position: relative;
    padding-top: 150px;
    left: 575px;
}

#GetRec{
    text-align: center !important;
    position: relative;
    margin: 15px;
    left: 40px;
}

h2 {
    text-align: center;
    font-family: Papyrus;
    color: deepskyblue;
    text-shadow: 2px 2px 4px #000000;
    font-size: 60px;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    font-family: Papyrus;
    text-shadow: 4px 4px 10px lightskyblue;
    
}
.p1 {
    text-align: center;
    font-family: Papyrus;
    color: deepskyblue;
    
}
div3 {
    border: 5px inset white;
    margin-top: 150px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: burlywood;
    text-align: center;
    max-width: 400px;
    align-content: center;
    font-size: 24px;
    display: inline-block;
}

.jumbotron {
    background-color:burlywood;
    text-align:center;
    border: 5px inset white;
    border-radius: 8px;
    color: navy;

}

.p3 {
    text-align: center;
    color: lightslategray;
    align-self: center;
    
}

.navbar-inverse {
    background-color: lightskyblue;
    border-color: deepskyblue;
    font-family: Papyrus;
    font-size: 24px !important;
    padding-top: 15px;
        
}
div2 {
    background-color: lightskyblue;
    color: navy;
    border-radius: 25px;
    box-shadow: 27px;
    font-size: 48px;
}

footer {
    color: deepskyblue;
    font-size: 24px;
    text-align: center;
}

div11 {
    border: 5px inset lightgray;

}

div4 {
    color: white;
    font-family: Papyrus;
    border: 5px inset lightgray;
    border-radius: 25px;
    background-color: burlywood;
}

.div9 {
    color: white;
    font-family: Papyrus;
    border: 5px inset lightgray;
    border-radius: 25px;
    background-color: burlywood;
    
}


